<!-- app/page/page.component.html -->

<!-- Login Card -->
<style>
    .cardDetails {
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.loginText {
    font-family: 'Albert Sans', sans-serif;
    color: rgb(0, 0, 0);
}

.inputBoxes{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.loginButton{
    font-family: 'Albert Sans', sans-serif;
    background-color: rgb(223, 180, 114);
}

</style>

<div class="cardDetails">
    
    <p style="margin-left: 0.5em; margin-top: 6em"><mat-card class="card-class">
    <mat-card-header>
        <div class ="loginText">
    <mat-card-title><p style="margin-top: -1em"></p>{{'Welcome to PhotoBomb!'}}</mat-card-title>
        </div>
    </mat-card-header>

    <form class="example-form">
        <div class ="inputBoxes">
            <p style="margin-left: 0.5em; margin-top: 1.5em">
        <mat-form-field class="example-full-width">
          <mat-label>Enter your email.</mat-label>
          <input matInput placeholder ="Ex. photobomb@gmail.com" value="">
        </mat-form-field>
    </p>
        
      
    <p style="margin-left: 0.5em; margin-top: -1.5em">
        <mat-form-field class="example-full-width">
          <mat-label>Enter your password.</mat-label>
          <input matInput placeholder="Ex. password123" value="">
        </mat-form-field>
    </p>

    <p style="margin-left: 0.5em; margin-top: -1.5em">
        <mat-card-actions>
            <div class ="loginButton">
            <button mat-raised-button>
                <a mat-button
                style="text-decoration: none; color: green"
              [routerLink]="['home']"
              routerLinkActive="active">LOGIN</a></button>
            </div>

              <button mat-raised-button>
                <a mat-button
                style="text-decoration: none"
                color="primary"
              [routerLink]="['register']"
              routerLinkActive="active">REGISTER</a></button>
            </mat-card-actions>
        </p>
        
        <p style="margin-left: 0.5em; margin-top: -1.5em">
            <mat-card-actions>
              <button mat-raised-button>
                <a mat-button
                style="text-decoration: none"
                color="primary"
              [routerLink]="['forget']"
              routerLinkActive="active">FORGOT PASSWORD?</a></button>
            </mat-card-actions>
        </p>
              
        

    </div>
    

      </form>

    </mat-card></p>
</div>