
<div fxLayout="column">
    <mat-dialog-content>

        <mat-form-field color="accent">
            <input matInput [(ngModel)]="input" text="input"
                placeholder="Type here"
            >
        </mat-form-field>
    
    </mat-dialog-content>
    
    <mat-dialog-actions fxFlex="" fxLayout="row" fxLayoutGap="">
        <div fxFlex=""></div>
        <button mat-raised-button class="mat-raised-button"(click)="openEncodeClose()">Close</button>
        <button mat-raised-button color="accent"class="mat-raised-button"(click)="save(); openEncodeSave()">Save</button>
    </mat-dialog-actions>
</div>
