
<div class="dialogwin" fxLayout="column">
  <mat-dialog-content>
  
    <mat-form-field color="accent">
        <input matInput
              readonly="true"
              value = {{test}}
        >
    </mat-form-field>
 
  </mat-dialog-content>

  <mat-dialog-actions fxFlex="" fxLayout="row" fxLayoutGap="">
      <div fxFlex=""></div>
      <button mat-raised-button class="mat-raised-button"(click)="close()">Close</button>
      <button mat-raised-button class="mat-raised-button" color="accent" (click)="save()">Save</button>
  </mat-dialog-actions>
</div>



