<style>
    p{
        text-align: center;
        font-size: 20px;
        color: black;
    }

    .app-container{
        text-align: center;
        font-size: 20px;
        color: black;
    }

    .form-label{
        margin-right: 2%;
    }

</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

<div class="app-container" [ngClass]="{ 'bg-light': user }">
<div class="card">
    <h4 class="card-header">Register</h4>
    <div class="card-body">
        
            <div>
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input [(ngModel)]="registerUsername" type="username" placeholder="Username" />
                <!-- errors -->
            </div>
            <div class="mb-3">
                <label class="form-label">Password </label>
                <input [(ngModel)]="registerPassword" type="password" placeholder="Password" />
                <!-- errors -->
            </div>
            <div>
                <!-- load button -->
                <button mat-raised-button color="primary" (click)="register()">Register</button>
                <button mat-raised-button color="primary" (click)="goToPage('signin')">Return to Login</button>
            </div>
            </div>
        
    </div>
</div>
</div>


