<div fxLayout="column">
    <mat-dialog-content>

        <mat-form-field appearance="fill">
            <h1>Image Encoded! </h1> 
        </mat-form-field>
    
    </mat-dialog-content>
    
    <mat-dialog-actions fxFlex="" fxLayout="row" fxLayoutGap="10">         
        <button mat-raised-button color="accent" class="mat-raised-button"(click)="closeAll()">Go to Album</button>
        <button mat-raised-button color="warn"class="mat-raised-button"(click)="close()" >New Image</button>
    </mat-dialog-actions>
</div>
